<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" src="img/logo.png" alt="">
                <h2 class="tagline">Talk to Strangers!</h2>
                <div class="online-status">5000+ online now</div>
            </div>
        </nav>
    </header>
    
    <main class="chat-main-container">
        <div class="chat-container">
            <div class="chat-text-container">
              <p>You are now chatting with a random stranger.</p>
              
              <p class="chat-text-area"></p>  
            </div>
            <div class="next-chat-container">
                <div class="next-chat">
                    <div>Next</div>
                </div>
                <div class="type-message">
                    <textarea name="" id="msg-input" cols="30" rows="5"></textarea>
                </div>
                <div class="msg-send-btn">Send</div>
            </div>
    </main>
    
</body>
<script src="/js/main.js"></script>
</html>